/* Top-level element */
.Container{
  margin-top: 21%;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  text-align: center;
}

/* Header h1 scoped to Content's Container class to avoid conflict with other component's h1 */
.Container h1{
  text-align: left;
}

/* Header h2 scoped to Content's Container class to avoid conflict with other component's h2 */
.Container h2{
  color: cornflowerblue;
  text-align: left;
}

/* Avoid underscore and change in colors of links in h2 tags */
.Container h2 a:link, a:visited, a:hover, a:active{
  color: cornflowerblue;
  text-decoration: none;
}

.Container p{
  color: gray;
  text-align: left;
}