/* Top-level element */
.CustomHeader{
    width:75%;
    height:37vh;
    top: 0%;
    margin-top: 0%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    background-color:rgb(47, 85, 141);
    padding-top: 0%;
    color: white;
    position:fixed;
    text-align: center;
}

/* Basic styling for top menu with entries Blog, About and Description */
.HorizontalMenuItems {
  margin-top: 0%;
  padding-top: 1%;
}

/* Inline formatting of list items and horizontal spacing */
.HorizontalMenuItems li{
  display: inline;
  margin-inline-end: 30px;
}

/* Header h1 scoped to CustomHeader class to avoid conflict with other component's h1 */
.CustomHeader h1{
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

/* Top-level container for Bio area and PhotoArea */
.Container{
  display: flex;
  justify-content:baseline;
}

.Paragraph{
  text-align: justify;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30%;
}

.AvatarImage{
  border-radius: 50%;
}

.PhotoArea{
  flex: 4;
  text-align: right;
  padding-right: 3%;
}

.BioArea{
  flex: 8;
  padding-left: 3%;
  padding-right: 3%;
  font-weight: lighter;
}